.css-1xhypcz-MuiStack-root>.MuiTextField-root{
    width: 100% !important;
}
.css-1xhypcz-MuiStack-root{
    padding: 0 !important;
}
.DeleteButton{
    background: rgb(254, 54, 54) !important;
}