.analyzeHeaderRed {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -25px;
  /* left: 10px; */
  width: 100%;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  background: linear-gradient(195deg, rgb(239, 83, 80), rgb(229, 57, 53));
}
.analyzeHeaderGreen {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -25px;
  /* left: 10px; */
  width: 100%;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
}
.analyzeHeaderBlue {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -25px;
  /* left: 10px; */
  width: 100%;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 122, 255, 1) 0%,
      rgba(0, 156, 255, 1) 78%);
}

.analyzeContainer {
  height: calc(100vh - 210px);
  max-height: calc(100vh - 210px);
  width: 100%;
  word-wrap: break-word;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  font-size: 14px;
}
.categoryTxt {
  font-size: 16px;
}
.listContainer {
  width: 100%;
  /* background-color: red; */
  height: calc(100% - 50px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.listContainer::-webkit-scrollbar {
  display: none;
}
