.suppilerDetailContainer {
    min-height: 420px;
    width: 100%;
    word-wrap: break-word;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    font-size: 14px;
}

.suppilerHeader {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: -25px;
    left: 10px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 122, 255, 1) 0%, rgba(0, 156, 255, 1) 78%);
}

.hrLine {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.datePickerWrp {
    background-color: #fff;
    height: 40px;
    position: relative;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
}

.tabDebit {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: red !important;
    border-bottom: 4px solid red !important;
    cursor: pointer;
}

.tabCash {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: green !important;
    border-bottom: 4px solid green !important;
    cursor: pointer;
}

.tabTransaction {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FF6347 !important;
    border-bottom: 4px solid #FF6347 !important;
    cursor: pointer;
}

.products {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: cornflowerblue !important;
    border-bottom: 4px solid cornflowerblue !important;
    cursor: pointer;
}

.suppilerDetailFeildHeader {
    font-weight: 600;
}

.filterWrp {
    padding: 25px;
    width: 100%;
    height: 100%;
}

.btn-reset {
    width: 100%;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 122, 255, 1) 0%, rgba(0, 156, 255, 1) 78%);
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
}

.btn-apply {
    width: 100%;
    text-align: center;
    color: #fff;
    background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
}

.btn-cancle {
    width: 100%;
    color: #fff;
    text-align: center;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
}

.redText {
    color: red !important;
    font-weight: 600 !important;
}

.greenText {
    font-weight: 600 !important;
    color: green !important;
}

/* Tab active color variants for table tabs */
.tabCancelActive {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: red !important;
    border-bottom: 4px solid red !important;
    cursor: pointer;
}

.tabComplimentaryActive {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #f1c40f !important;
    /* yellow */
    border-bottom: 4px solid #f1c40f !important;
    cursor: pointer;
}

.tabMonthActive {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: green !important;
    border-bottom: 4px solid green !important;
    cursor: pointer;
}

.Comment {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}